    <div class="seccion sombra">
        <h2 class="titulo seccion sombra">{{titulo}}</h2>
     <div class="estudio">
    <!--1-->
        <div class="logo-seccion">
        </div>
        <div *ngFor="let educacion of educacionList" class="text-seccion">
            <span class>
            <img [src]="educacion.image_est" [alt]="educacion.institucion" class="educacion">
            <b><h2 class="mt-4">{{educacion.institucion}}</h2></b>
            <p>{{educacion.titulo}}</p>
            <p>{{'Inicio: '+educacion.inicio+' /Finalizacion: '+educacion.fin}}</p>
            </span>
        </div>
    </div>

