    <!--Proyectos-->
    <section class="seccion sombra">
        <div class="logo-seccion">
            <h3>Proyectos</h3>
            <a href="#"><img src="../../assets/images/Octocat.png" alt="octocat" class="utn"></a>
        </div>
        <div class="text-seccion">
            <p>Aqui podras encontrar todos mis proyectos</p>
        </div>
    
    </section>
    <section class="seccion sombra">
        <div class="logo-seccion">
            <p>aca le tengo que poner algo</p>
        </div>
        <div class="text-seccion">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, pariatur eos. Quaerat voluptates est tenetur necessitatibus voluptate. Culpa voluptate inventore magni libero alias ad! Delectus voluptatum illum ipsa velit? Sint?</p>
        </div>
    </section>
