<div class="seccion">
    <div class="titulo">{{titulo}}
        <!--
       <button [routerLink]="['personanew/new']" type="button" class="btn btn-secondary">Nueva Persona</button>
        -->
    </div>
    <table class="sombra">
        <thead class="texto-negrita">
            <td></td>
            <td>Nombre y Apellido</td>
            <td>telefono</td>
            <td>email</td>
            <td>Residencia</td>
            <td>DNI</td>
            <td>Imagen de perfil (link)</td>
       
        <tbody  *ngFor="let persona of personaList; index as i">
            <tr class="trabajo-fila">
                <td>{{i + 1}}</td>
                <td>{{persona.nombre}} {{persona.apellido}}</td>
                <td>{{persona.telefono}}</td>
                <td>{{persona.email}}</td>
                <td>{{persona.residencia}}</td>
                <td>{{persona.dni}}</td>
                <td><i class="fa-regular fa-image"></i></td>
                <td><button routerLink="personaedit/{{persona.id}}" type="button" class="btn btn-primary" >Editar</button></td>
                <!--
                <td><button (click)="onDelete(persona.id)" type="button" class="btn btn-danger">Eliminar</button></td>
                -->
            </tr>
    </table>
</div>

