<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" title="ArgProg">
      <img class="w-25 p-3"  [src]="miPorfolio.logoAP" alt="argProg">
    </a>
    <!--boton ejemplo ngIf
    <button class="btn ejemplo" (click)="mostrarse()">esta/Noesta></button>
    -->
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a [href]="miPorfolio.red1"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a [href]="miPorfolio.red2"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a [href]="miPorfolio.red3"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
      <li class="list-group-item">
        <!-- btn login modal -->
        <a routerLink="/login">
          <i
            class="fa-solid fa-user-lock fa-2x"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          ></i
        ></a>
      </li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
  </div>
</nav>
