nav{
    background-color:black;
    max-height: 6rem;
  
    
 }
 .ul{
    list-style: none;
 }
 .list-group{
   --bs-list-group-bg: black;
   
}

.a{
   text-decoration: none;

}
.img_logo{
  width: 8em;
  height: 3em;
  
}

