<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" title="ArgProg">
      <img width="150" height="80" src="../../assets/images/APLogo-20-20.png" alt="argProg">
    </a>
    <!--boton ejemplo ngIf-->
    <button class="btn ejemplo" (click)="mostrarse()">esta/Noesta></button>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><a href="#"><i class="fa-brands fa-instagram fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="#"><i class="fa-brands fa-linkedin-in fa-2x text-white"></i></a></li>
      <li class="list-group-item"><a href="#"><i class="fa-brands fa-github fa-2x text-white"></i></a></li>
      <li class="list-group-item">
        <!-- btn login modal -->
        <a routerLink="/login">
          <i
            class="fa-solid fa-user-lock fa-2x"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          ></i
        ></a>
      </li>
    </ul>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
  </div>
</nav>
