
<div class="seccion sombra">
    <h2 class="titulo seccion sombra">{{titulo}}</h2>
    <div *ngIf="trabajoList; else errorBlock" class="estudio">
      <!--1-->
      <div class="logo-seccion">
      </div>
      <div *ngFor="let trabajo of trabajoList" class="text-seccion">
        <span class>
        <b><h2 class="mt-4">{{trabajo.empresa}}</h2></b>
        <p>{{"Puesto: "+trabajo.puesto}}</p>
        <p>{{trabajo.text_descrip}}</p>
        <p>{{'Inicio: '+trabajo.fecha_inicio+' / Finalizacion: '+trabajo.fecha_fin}}</p>
        <p><a [href]="trabajo">{{trabajo.empresa}}</a></p>
        </span>
      </div>
    </div>
  
    <ng-template #errorBlock>
      <div>Error al obtener los datos</div>
    </ng-template>
  </div>
  
