
 <div class="banner">
    <div class="about-container ">
        <img src="../../assets/images/banner.png">
            <div class="image">                               
                <img src="../../assets/images/perfil1-modified.png" alt="perfil" class="perfil">
            </div>
            <div class="text">
                <h1>Alejandra Carballeira</h1>
                    <h2>Desarrollador Full-Sack</h2>
                    <p>Si puedes soñarlo, puedes programarlo.</p>
            </div>
    </div>
</div>

