    <form >
    <div class="form-group">
      <label for="empresa">Empresa</label>
      <div id="empresa">{{trabajo.empresa}}</div>
    </div>
    <div class="form-group">
      <label for="image_trab">Imagen</label>
      <div id="image_trab">{{trabajo.image_trab}}</div>
    </div>
    <div class="form-group">
      <label for="puesto">Puesto</label>
      <div id="puesto">{{trabajo.puesto}}</div>
    </div>
    <div class="form-group">
      <label for="text_descrip">Descripción</label>
      <div id="text_descrip">{{trabajo.text_descrip}}</div>
    </div>
    <div class="form-group">
      <label for="fecha_inicio">Fecha de inicio</label>
      <div id="fecha_inicio">{{trabajo.fecha_inicio}}</div>
    </div>
    <div class="form-group">
      <label for="fecha_fin">Fecha de fin</label>
      <div id="fecha_fin">{{trabajo.fecha_fin}}</div>
    </div>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </form>
  