
<app-navbar></app-navbar>
<div class="container ">
  <div class="row">
    <!--Datos Personales (usuario) Boton-->
    <div class="seccion sombra">
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-datos-personales">Datos Personales</button></div>
    </div>
    <!-- Modal para editar Datos Personales -->
    <div class="modal fade" id="modal-datos-personales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Datos Personales</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- Nombre -->
              <div class="form-group">
                <label for="input-nombre">Nombre</label>
                <input type="text" class="form-control" id="input-nombre" value="">
              </div>
              <!-- Apellido -->
              <div class="form-group">
                <label for="input-apellido">Apellido</label>
                <input type="text" class="form-control" id="input-apellido" value="">
              </div>
              <!-- Dirección -->
              <div class="form-group">
                <label for="input-direccion">Dirección</label>
                <input type="text" class="form-control" id="input-direccion" value="">
              </div>
              <!-- Teléfono -->
              <div class="form-group">
                <label for="input-telefono">Teléfono</label>
                <input type="text" class="form-control" id="input-telefono" value="">
              </div>
              <!--e mail-->
              <div class="form-group">
                <label for="input-email">email</label>
                <input type="text" class="form-control" id="input-email" value="">
              </div>
              <!--DNI-->
              <div class="form-group">
                <label for="input-dni">DNI</label>
                <input type="text" class="form-control" id="input-dni" value="">
              </div>
              <!--Imagen de Perfil-->
              <div class="form-group">
                <label for="input-image_perfil">Imagen de Perfil</label>
                <input type="text" class="form-control" id="input-image_perfil" value="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnguardar">Guardar</button>
            <button type="button" class="btneliminar">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Experiencia Laboral (trabajo) Botones-->
    <div class="seccion sombra botonalineado">
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-experiencia">New Experiencia Laboral</button></div>
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-experiencianew">Experiencia Laboral Lista</button></div>
    </div>
    <!-- Modal Nueva Experiencia Laboral (trabajo) -->
    <div class="modal fade" id="modal-experiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cargar nueva experiencia laboral</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- Empresa -->
              <div class="form-group">
                <label for="input-empresa">Empresa</label>
                <input type="text" class="form-control" id="input-empresa" value="">
              </div>
              <!-- Puesto -->
              <div class="form-group">
                <label for="input-puesto">Puesto</label>
                <input type="text" class="form-control" id="input-puesto" value="">
              </div>
              <!-- Fecha Inicio -->
              <div class="form-group">
                <label for="input-fecha_inicio">Fecha de Inicio</label>
                <input type="text" class="form-control" id="input-fecha_inicio" value="">
              </div>
              <!-- Fecha Finalizacion -->
              <div class="form-group">
                <label for="input-fecha_fin">Fecha de Finalizacion </label>
                <input type="text" class="form-control" id="input-fecha_fin" value="">
              </div>
              <!--Texto descripcion-->
              <div class="form-group">
                <label for="input-text_descrip">Descripcion de tareas</label>
                <textarea class="form-control" id="input-text_descrip" rows="3"></textarea>
              </div>
              <!--Imagen Logo-->
              <div class="form-group">
                <label for="input-image_logo">Imagen Empresa</label>
                <input type="text" class="form-control" id="input-image_logo" value="">
              </div>
              <!--Link empresa-->
              <div class="form-group">
                <label for="input-link">Link de la Empresa</label>
                <input type="text" class="form-control" id="input-link" value="">
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnguardar">Guardar</button>
            <button type="button" class="btneliminar">Eliminar</button>
          </div>
        </div>
    </div>


  
  
 
    </div>

    <!-- Acerca de mi (acerca_mi) Boton-->
    <div class="seccion sombra">
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-acerca_mi">Acerca de mi</button></div>
    </div>
    <!--Modal Acerca de Mi-->
    <div class="modal fade" id="modal-acerca_mi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Descripcion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- Texto -->
              <div class="form-group">
                <label for="input-nombre">Agrege texto</label>
                <textarea class="form-control" id="input-text_descrip" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnguardar">Guardar</button>
            <button type="button" class="btneliminar">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Formacion (estudios)-->
    <div class="seccion sombra botonalineado">
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-formacionNew">New Lista Formacion</button></div>
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-formacion">Formacion Lista</button></div>
    </div>
    <!--Modal Formacion New-->
    <div class="modal fade" id="modal-formacionNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Datos Personales</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- Institucion -->
              <div class="form-group">
                <label for="input-institucion">Institucion</label>
                <input type="text" class="form-control" id="input-institucion" value="">
              </div>
              <!-- Titulo -->
              <div class="form-group">
                <label for="input-titulo">Titulo</label>
                <input type="text" class="form-control" id="input-titulo" value="">
              </div>
              <!-- Fecha de Inicio -->
              <div class="form-group">
                <label for="input-Fecha_inicio">Fecha de Inicio</label>
                <input type="text" class="form-control" id="input-fecha_inicio" value="">
              </div>
              <!-- Fecha de Fin -->
              <div class="form-group">
                <label for="input-fecha_fin">Fecha de Finalizacion</label>
                <input type="text" class="form-control" id="input-fecha_fin" value="">
              </div>
              <!--Imagen -->
              <div class="form-group">
                <label for="input-imagen">Imagen</label>
                <input type="text" class="form-control" id="input-imagen" value="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnguardar">Guardar</button>
            <button type="button" class="btneliminar">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Proyectos (proyectos) -->
    <div class="seccion sombra botonalineado">
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-proyectosNew">New Proyecto</button></div>
      <div><button class="btn" data-bs-toggle="modal" data-bs-target="#modal-proyectos">Proyectos Lista</button></div>

    </div>
    <!--Modal Proyecto New-->
    
    <div class="modal fade" id="modal-proyectosNew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Nuevo Proyecto</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="input-proyecto">Url</label>
                <input type="text" class="form-control" id="input-proyecto" value="">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btnguardar">Guardar</button>
            <button type="button" class="btneliminar">Eliminar</button>
          </div>
        </div>
      </div>
    </div>

  
    <!--Soft Skills (soft_skill)-->
    <div class="seccion sombra">
      <div><button class="btn">Soft Skills</button></div>
    </div>

    <!--Hard Skills (hard_skill)-->
    <div class="seccion sombra">
      <div><button class="btn">Hard Skills</button></div>
    </div>
</div> 



