
<app-navbar></app-navbar>
<div class="container ">
    <div class="row">
    
      <!--navbar redes-->
      <div class="col-3 col-sm-8 text-uppercase my-3">redes</div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-redes"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#redes"><i class="fa-solid fa-trash"></i></button></div>
      
    
      <!-- Imagen banner-->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-3 col-sm-8 text-uppercase  my-3">Imagen banner</div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-banner"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#banner"><i class="fa-solid fa-trash"></i></button></div>

      
      <!-- Imagen perfil-->
      <div class="w-100 d-none d-md-block"></div>

      <div class="col-3 col-sm-8 text-uppercase  my-3">Imagen perfil</div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-perfil"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#perfil"><i class="fa-solid fa-trash"></i></button></div>

   
      <!-- nombre y descripcion-->
      <div class="w-100 d-none d-md-block"></div>

      <div class="col-3 col-sm-8 text-uppercase  my-3">texto Nombre y descripcion</div>
      <div class="col-3 col-sm-2 my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-nombre_descripcion"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2 my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#nombre_descripcion"><i class="fa-solid fa-trash"></i></button></div>

      
      <!-- Formacion -->
      <div class="w-100 d-none d-md-block"></div>

      <div class="col-3 col-sm-8 text-uppercase my-3">formacion</div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-formacion"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#formacion"><i class="fa-solid fa-trash"></i></button></div>
      
      
      <!--Skills-->
      <div class="w-100 d-none d-md-block"></div>
      
      <div class="col-3 col-sm-8 text-uppercase  my-3">Skills</div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#edit-skill"><i class="fa-solid fa-pen-to-square"></i></button></div>
      <div class="col-3 col-sm-2  my-3"><button type="button"  data-bs-toggle="modal" data-bs-target="#skill"><i class="fa-solid fa-trash"></i></button></div>
    </div>
        
</div>
<app-footer></app-footer>

    
 


