<section class="registro">
  <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div class="container text-center">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-5">
          <div class="modal-body">
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Nombre</label>
              <input type="text" formControlName="nombre" class="form-control" id="exampleInputName">
              <div *ngIf="nombre?.errors && nombre?.touched">
                <p *ngIf="nombre?.hasError('required')" class="error">El nombre es requerido.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputNameUser" class="form-label">Nombre de Usuario</label>
              <input type="text" formControlName="nombreUsuario" class="form-control" id="exampleInputNameUser">
              <div *ngIf="nombreUsuario?.errors && nombreUsuario?.touched">
                <p *ngIf="nombreUsuario?.hasError('required')" class="error">El nombre de usuario es requerido.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail" class="form-label">Email</label>
              <input type="email" formControlName="email" class="form-control" id="exampleInputEmail">
              <div *ngIf="email?.errors && email?.touched">
                <p *ngIf="email?.hasError('required')" class="error">El email es requerido.</p>
                <p *ngIf="email?.hasError('email')" class="error">El formato del email debe ser válido.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword" class="form-label">Contraseña</label>
              <input type="password" formControlName="password" class="form-control" id="exampleInputPassword">
              <div *ngIf="password?.errors && password?.touched">
                <p *ngIf="password?.hasError('required')" class="error">La contraseña es requerida.</p>
                <p *ngIf="password?.hasError('minlength')" class="error">La contraseña debe tener al menos 8 caracteres.</p>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputAuthorities" class="form-label">Tipo de Usuario</label>
              <select formControlName="authorities" class="form-control" id="exampleInputAuthorities">
                <option value="user">Usuario</option>
                <option value="admin">Administrador</option>
              </select>
            </div>
          </div> 
        </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>
  </form>
</section>


